body {
  font-size: 20px;
  display: flex;
}

body h1 {
  color: blueviolet;
}

span {
  font-size: 20px;
}

div {
  font-size: 30px;
}

div {
  background: url("../img/sweet.jpeg") 0 0 no-repeat;
}

@media (max-width: 767px) {
  span {
    font-size: 15px;
  }

  div {
    font-size: 20px;
  }
}